p { color: rgb(0, 88, 124); font-size: xx-large}; 
ol { color: rgb(0, 88, 124);}
li { color: rgb(0, 88, 124); text-align: center;} 
h2 { color: rgb(0, 88, 124); text-align: center;}
em { color: rgb(0, 88, 124); font-size: xx-large; text-align:calc(200);}
h1 { color: rgb(0, 88, 124); font-size: xxx-large; font-family: 'Times New Roman', Times, serif;}
img {border-radius: 221dvb; border-color:rgb(0, 88, 124); border-width: .4cm; border-style: dashed;}
img {
  width: 200px;
  height: auto; align-content: center; place-items: center;
}
html{font-family:'Courier New', Courier, monospace;}
html {background-color:rgb(169, 210, 226);}
#page {
    max-width: 900px;
    margin: 0 auto 0 auto;
    background: rgb(242, 222, 201);
    padding: 30px;
}
.top-section {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin: 0 0 25px 0;
}
#introduction {
    background: #8fb9dc82;
    padding: 20px;
    border-left: 6px solid #ffebc8;
    flex: 2;
}

#introduction h2 {
    font-style: italic;
    margin-top: 0;
}

#introduction p {
    font-size: 120%;
    line-height: 1.5;
}
.profile {
    text-align: center;
    flex: 1;
}

.profile img {
    width: 220px;
    border-radius: 12px;
}

.profile p {
    font-size: 90%;
}
.navigation {
    background: #fff7e8;
    padding: 20px;
    border-radius: 12px;
}

.navigation h2 {
    margin-top: 0;
}

.navigation li {
    margin-bottom: 8px;
}

.navigation a {
    color: #3c94f3;
    font-weight: bold;
}